.main-wrapper {
    height:650px ;
    width: 100%;
    margin: 0;
    position: relative;
    background-image: url(../Images/bg.jpg);
    overflow: hidden;
}

.player {
    height: 100px;
    width: 50px;
    background-image: url('../Images/limbo.png');
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 1;
    
}
.buttom {
    height: 600px;
    width: 100000px;
    position: absolute;
    top: 200px;
    left: 0px;
    background-image: url(../Images/bgRoad2.png);
    background-repeat: repeat-x;
}
.Upperopponent {
    width: 100px;
    height: 20px;
    position: absolute;
    left: 1400px;
    top: 100px;
    background-image: url(../Images/bullet.png);
}
.Loweropponent {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 1400px;
    top: 150px;
    background-color: red;
}
.Coin {
    height: 50px;
    width: 50px;
    background-color: yellowgreen;
    top: 20px;
    left: 1400px;
    position: absolute;
}
.Enemy {
     height: 50px;
    width: 50px;
    background-color: Red;
}
